{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'challenges/index.css' %}">
<link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock %}

{% block page_title %}All Challenges{% endblock %}

{% block page_content %}
    {% include 'challenges/partials/navbar.html' %}
    <ul>
    {% for month in months %}
        <li><a href="{% url 'month-challenge' month %}">{{ month|title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}